<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BackLogger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">BackLogger</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
              <a class="navbar-brand" href="#">Add Teacher</a>
              <a class="navbar-brand" href="#">Accounts</a>
            </ul>
            <a class="btn btn-primary" href="#">My Account</a>
            
            <a class="btn btn-primary" href="#">LogOut</a>
          </div>
        </div>
      </nav>

      <div class="container w-25 mt-3">
        <form action="" method="POST">
        
            <div class="mb-3 p-2">
              <label for="exampleFormControlInput1" class="form-label">Name</label>
              <input type="Id" class="form-control  border-success" id="exampleFormControlInput1" placeholder="Enter the name ">
            </div>
            <div class="mb-3 p-2">
              <label for="exampleFormControlTextarea1" class="form-label">Employee Id</label>
              <input type="number" class="form-control  border-success" id="" placeholder="Id"></input>
            </div>
            <div class="mb-3 p-2">
              <label for="exampleFormControlTextarea1" class="form-label">Password</label>
              <input type="password" class="form-control  border-success" id="" placeholder="Password"></input>
            </div>
            <div class="mb-3 p-2">
              <label for="exampleFormControlTextarea1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control  border-success" id="" placeholder="Confirm Password"></input>
            </div>
        <div class="text-center p-2">
        
            <input class="btn btn-primary" type="submit" value="Add">
        
        </div>
        
        
        </form>
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>