<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
<div class="container w-25 mt-3">
<form action="" methhod="POST">

    <div class="mb-3 p-2">
      <label for="exampleFormControlInput1" class="form-label">Roll Number</label>
      <input type="number" class="form-control border-success" id="exampleFormControlInput1" placeholder="Roll Number">
    </div>
    <div class="mb-3 p-2">
      <label for="exampleFormControlTextarea1" class="form-label">Mother's Name</label>
      <input type="text" class="form-control border-success" id="" placeholder="Mother's Name"></input>
  
    </div>
    <label for="exampleFormControlTextarea1" class="form-label ">Select Your Batch</label>
    <select class="form-select" aria-label="Default select example">
      <option selected>Select Batch</option>
      <option value="1">2019</option>
      <option value="2">2020</option>
      <option value="3">2021</option>
      <option value="3">2022</option>
    </select>
  
    <div class="form-check py-2 ">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>
<div class="text-center p-2">

    <input class="btn btn-primary" type="submit" value="Login">

</div>


</form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>