{% extends 'index.html'%}
  {% block content %}
  
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  <ul class=flashes>
  {% for category, message in messages %}
  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    <strong>Message</strong> {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
<form method='POST'>
    <div class="mb-3 p-2">
      <label for="exampleFormControlTextarea1" class="form-label">Username</label>
      <input type="text" class="form-control" id="" placeholder="Username" name="username"></input>
    </div>
    <div class="mb-3 p-2">
      <label for="exampleFormControlTextarea1" class="form-label">Password</label>
      <input type="password" class="form-control" id="" placeholder="Password" name="password"></input>
    </div>
   
  
    <div class="form-check py-2 ">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>
<div class="text-center p-2">

    <a href="{{url_for('login')}}"><input class="btn btn-primary" type="submit" value="Login"></a>

</div>
</form>
{% endblock content%}

